* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.small-img img {
    display: block;
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

.big-img img {
    width: 480px;
}